a{
	text-decoration: none;
	color: blue;
	cursor: pointer;
}
input[type=button], input[type=submit], input[type=reset] {
	border: none;
	background-color: white;
	color: blue;
	cursor: pointer;
}